<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	
	<!--啟用 nlog extension 的區塊，有需要使用 ASP.NET Core Extension 才需使用
	<extensions>
	  <add assembly="NLog.Web.AspNetCore"/> 
	</extensions>
	-->
	
	<!--設定 log 輸出目標-->
    <targets>
        <!-- file target: log to a file -->
        <target xsi:type="File" name="logfile" fileName="logfile.txt" />
        <!-- console target: log to the console -->
        <target xsi:type="Console" name="logconsole" />
    
	</targets>

    <rules>
        <!-- 所有 level 的 log 都寫入文件 -->
        <logger name="*" minlevel="Trace" writeTo="logfile" />
        <!-- 所有 level 的 log 都輸出到控制台 -->
        <logger name="*" minlevel="Trace" writeTo="logconsole" />
	</rules>
    
</nlog>